.row {
	position: relative;
}

.row:after {
	content: "";
	display: table;
	clear: both;
	width: 100%;
}

.row .column13 {
	width: 33.33%;
	position: relative;
	float: left;
}

.row .column12 {
	width: 100%;
	position: relative;
}

.row .column11 {
	width: 91.66%;
	position: relative;
	float: left;
}

.row .column10 {
	width: 83.33%;
	position: relative;
	float: left;
}

.row .column9 {
	width: 75%;
	position: relative;
	float: left;
}

.row .column8 {
	width: 66.66%;
	position: relative;
	float: left;
}

.row .column7 {
	width: 58.33%;
	position: relative;
	float: left;
}

.row .column6 {
	width: 50%;
	position: relative;
	float: left;
}

.row .column5 {
	width: 41.66%;
	position: relative;
	float: left;
}

.row .column4 {
	width: 33%;
	position: relative;
	float: left;
}

.row .column3 {
	width: 25%;
	position: relative;
	float: left;
}

.row .column2 {
	width: 16.6%;
	position: relative;
	float: left;
}

.row .column1 {
	width: 8.33%;
	position: relative;
	float: left;
}

.row .column33 {
	width: 33%;
	position: relative;
	float: left;
}

.row .column-6{
	width: 6%;
	position: relative;
	float: left;
}

.row .column-7{
	width: 7%;
	position: relative;
	float: left;
}
.row .column-4{
	width: 4%;
	position: relative;
	float: left;
}
.row .column-22{
	width: 23.5%;
	position: relative;
	float: left;
}

.row .column-18{
	width: 18%;
	position: relative;
	float: left;
}

.row .column-2 {
	width: 20%;
	position: relative;
	float: left;
}
